<%# Below is the edit page for User to adjust there account details %>
<div class="edit-account">
<h1>Edit Account</h1>

<%# Render partial method calls on the form %>
<%= render partial: 'form' %>
</div>
